{% extends 'base.html' %}

{% block title %}Verification Sent - Omniferous{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header text-center">
          <h3 class="mb-0">Verify your email</h3>
        </div>
        <div class="card-body">
          <p>We have sent you an email for verification. Please click the link in the email to complete your registration.</p>
          <a class="btn btn-primary" href="/">Go to homepage</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


