{% extends 'base.html' %}

{% block title %}Email Verification Required - Omniferous{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header text-center">
          <h3 class="mb-0">Please verify your email</h3>
        </div>
        <div class="card-body">
          <p>You need to verify your email address before accessing this page.</p>
          <a class="btn btn-primary" href="/">Go to homepage</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


