Django>=4.2,<4.3
Pillow>=10.1,<11.0
stripe>=7.6,<8.0
python-decouple>=3.8,<4.0
django-crispy-forms>=2.0,<3.0
crispy-bootstrap5>=0.7,<1.0
django-allauth>=0.57,<0.58
django-extensions>=3.2,<4.0
django-debug-toolbar>=4.2,<5.0
whitenoise>=6.6,<7.0
gunicorn>=21.2,<22.0
psycopg2-binary>=2.9,<3.0
redis>=5.0,<6.0
celery>=5.3,<6.0
django-celery-beat>=2.5,<3.0
django-celery-results>=2.5,<3.0